body {
    background-attachment: fixed;
    background-image: url('../images/Yello yoga.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-width: 100%;
    height: auto;
}
img {
    max-width: 100%;
    height: auto;
}
.nav_button_div {
    background:#000000;
    width: 100%;
    float:left;
    height: 80%;

}
.nav_button {
    background: rgba(0, 0, 0, 0.00);
    height: 100%;
    display: block;
    width: 20%;
    float: left;
    height: 100%;
    color: #ffac00;
    text-align: center;
    color: #ffac00;
}
    .nav_button a {
        color: #ffac00;
    }
    .nav_button:hover {
        background-color: #ffac00;
        color: black;
        cursor: pointer;
        display: block;
        transition:0.5s;
       
    }
    .nav_button a:hover {
        color: black;
    }
.dropbtn {
    background-color: rgba(0, 0, 0, 0.00);
    color: #ffac00;
    height:100%;
    width:100%;
    text-align:center;
    border: none;
    cursor: pointer;
}

.dropdown {
    float:left;
    position: relative;
    display: inline-block;
    height:100%;
    width:20%
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: #ffac00;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #ffac00;
            color: black;
            transition: 0.2s;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #ffac00;
    color:black;
    transition:0.2s;
}
.temp {
    width: 100%;
    height: 550px;
    float: left;
}
